html {
  background: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
  display: flex;
  
}

.company-name {
  font-size: 20px;
  color: black;
  display: block;
  padding: 12px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  margin-left: 320px;
  margin-right: 200px; 
}

.certified {
  color: #645cff;
}


a {
  display: block;
  color: #454545;
  font-size: 14px;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

a:hover {
  color: lightblue;
}


.social-icons {
  list-style-type: none;
  margin-left: 200px;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #645cff;
  text-decoration: none;
  padding: 0px 2px;
  font-size: 13px;
}

.social-icons a:hover {
  color: lightblue;
}

hr {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
